<div class="prod-shown">
  <h2 class="sheet-head">Product lineup</h2>
  <div class="media">
    <img src="assets/images/product.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <span class="prod-time">05-15</span>
      <h5 class="mt-0 prod-title">Men's Arxan Bomber Jacket </h5>
      <p class="prod-desc">Designed for an effortless transition from winter to spring, this versatile layer continues 
      </p>
      <p class="prod-price">$1,090.00 CAD</p>
      <a class="drag-btn"><span class="icon-cursor"></span></a>
    </div>
  </div>
  <div class="media">
    <img src="assets/images/product.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <span class="prod-time">05-25</span>
      <h5 class="mt-0 prod-title">Men's Arxan Bomber Jacket </h5>
      <p class="prod-desc">Designed for an effortless transition from winter to spring, this versatile layer continues 
      </p>
      <p class="prod-price">$1,090.00 CAD</p>
      <a class="drag-btn"><span class="icon-cursor"></span></a>
    </div>
  </div>
  <div class="media">
    <img src="assets/images/product.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <span class="prod-time">25-35</span>
      <h5 class="mt-0 prod-title">Men's Arxan Bomber Jacket </h5>
      <p class="prod-desc">Designed for an effortless transition from winter to spring, this versatile layer continues 
      </p>
      <p class="prod-price">$1,090.00 CAD</p>
      <a class="drag-btn"><span class="icon-cursor"></span></a>
    </div>
  </div>
  <div class="media">
    <img src="assets/images/product.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <span class="prod-time">35-45</span>
      <h5 class="mt-0 prod-title">Men's Arxan Bomber Jacket </h5>
      <p class="prod-desc">Designed for an effortless transition from winter to spring, this versatile layer continues 
      </p>
      <p class="prod-price">$1,090.00 CAD</p>
      <a class="drag-btn"><span class="icon-cursor"></span></a>
    </div>
  </div>

</div>
