<div class="comments">
  <h2 class="sheet-head">Comments (1230)</h2>
  <div class="media">
    <img src="assets/images/user-01.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <h5 class="mt-0 name">Oktay </h5>
      <p class="desc">whats the material?</p>
    </div>
  </div>
  <div class="media">
    <img src="assets/images/user-02.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <h5 class="mt-0 name">Jesse </h5>
      <p class="desc">whats the material?</p>
    </div>
  </div>
  <div class="media">
    <img src="assets/images/user-02.png" class="align-self-start mr-3" alt="profile image">
    <div class="media-body">
      <h5 class="mt-0 name">Aliah Pitts</h5>
      <p class="desc">What is the length of sleeves on Large?</p>
    </div>
  </div>
</div>